@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* { 
    margin: 0;
    padding: 0;
}
.block-of-services-content { 
    margin-top: 11%;
}
.first-block-services { 
    row-gap: 20px;
}
#aeroplane { 
    width: 400px !important;
    height: 315px !important;
}
.our-services-text { 
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    font-family: 'Rubik', sans-serif;
    color: #0063A4;
}
.sub-title-text-services { 
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: #111111;
    font-family: 'Rubik', sans-serif;
}
.blue-text-span { 
    color: #0063A4;
}
.image-of-transports { 
    z-index: 1;
    margin-top: 5px;
}
.client-support-text {    
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-top: 20px !important;
} 
.title-text-auto { 
    font-family: 'Rubik', sans-serif;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    color: #161616;
}
.content-text-auto { 
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;
}
.body-part-of-texts { 
    margin-top: 70px;
}
.item-card-service { 
    border-radius: 20px !important;
    padding: 46px 46px 40px 46px;
    box-shadow: 0px 2px 15px 0px #0000001A;
    color: #ffffff;
    border: none !important;
    margin-top: -70px;
    width: 420px;
    height: 420px !important;
}
.item-card-service2 { 
    border-radius: 20px !important;
    padding: 46px 46px 40px 46px;
    box-shadow: 0px 2px 15px 0px #0000001A;
    color: #ffffff;
    border: none !important;
    margin-top: -110px;
    width: 420px;
    height: 420px !important;
}
.item-card-service3 { 
    border-radius: 20px !important;
    padding: 46px 46px 40px 46px;
    box-shadow: 0px 2px 15px 0px #0000001A;
    color: #ffffff;
    border: none !important;
    margin-top: -116px;
    width: 420px;
    height: 420px !important;
}
.card-body { 
    padding: 0 !important;
}
.services-container-images-cards { 
    margin: 0 !important;
    gap: 18px !important;
}
.body-part-of-texts { 
    width: 347px !important;
}
#track-img-white-col { 
    width: 420px !important;
}
@media screen and (max-width:769px) { 
    .block-card-of-advantages {
        border-radius: 20px !important;
        padding: 40px 20px 50px 20px;
        border: none !important;
        background-color: #F6F6F6 !important;
        width: 350px !important;
        height: 476px !important;
    }
}
@media screen and (max-width:500px) { 
    .body-part-of-texts {
        width: 310px !important;
    }
    .content-text-auto {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 30px;
        font-family: 'Manrope', sans-serif;
    }
    .our-services-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.24px;
        font-family: 'Rubik', sans-serif;
        color: #0063A4;
    }
    .sub-title-text-services {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #111111;
        font-family: 'Rubik', sans-serif;
    }
    .client-support-text {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-top: 0px !important;
    }
    .item-card-service {
        border-radius: 20px !important;
        /* padding: 46px 46px 40px 46px; */
        box-shadow: 0px 2px 15px 0px #0000001A;
        color: #ffffff;
        border: none !important;
        margin-top: -70px;
        padding: 28px 30px 10px 30px;
        width: 98%;
        height: 335px !important;
    }
    .item-card-service2 {
        border-radius: 20px !important;
        /* padding: 46px 46px 40px 46px; */
        box-shadow: 0px 2px 15px 0px #0000001A;
        color: #ffffff;
        border: none !important;
        margin-top: -85px;
        padding: 28px 30px 10px 30px;
        width: 98%;
        height: 335px !important;
    }
    .item-card-service3 { 
        border-radius: 20px !important;
        /* padding: 46px 46px 40px 46px; */
        box-shadow: 0px 2px 15px 0px #0000001A;
        color: #ffffff;
        border: none !important;
        margin-top: -110px;
        padding: 28px 30px 10px 30px;
        width: 98%;
        height: 335px !important;
    }
    .image-of-transports { 
        width: 294px;
        height: 220px;
    }
    .title-text-auto {
        font-family: 'Rubik', sans-serif;
        font-weight: 400 !important;
        font-size: 22px !important;
        line-height: 26px !important;
        color: #161616;
    }
}

