@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* { 
    margin: 0;
    padding: 0;
}
.block-of-this-about-page { 
    margin-top: 11%;
}
.super-block-content { 
    border-radius: 50px;
    box-shadow: 0px 4px 15px 0px #00000026;
    padding: 56px 65px;
}
.common-about-container { 
    display: flex !important;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
.logistic-img { 
    width: 520px !important;
    height: 400px;
}
.o-company-text { 
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    font-family: 'Rubik', sans-serif;
    color: #0063A4;
    margin-bottom: 20px;
}
.sub-text-heading { 
    font-weight: 400;
    font-size: 66px;
    line-height: 70px;
    color: #111111;
    font-family: 'Rubik', sans-serif;
}
.blue-text-span { 
    color: #0063A4;
}
.about-us-text {    
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-top: 20px !important;
}
.hidden-div-block { 
    padding: 0px 12px;
}
.hidden-us-text { 
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}
.show-less-more-text { 
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
    color: #161616;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0px 12px;
}
.show-less-more-text-none { 
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
    color: #161616;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0px 12px;
}
.resp-hide-text { 
    display: none;
}
.desktop-resp-text { 
    display: block;
}
@media screen and (max-width:1399px) { 
  .sub-text-heading { 
    font-size: 60px;
    line-height: 50px;
  }
}
@media screen and (max-width:1025px) { 
    .hidden-div-block { 
        padding: 0px !important;
    }
    #second-content-about { 
        width: 100% !important;
    }
    .desktop-resp-text { 
        display: none;
    }
    .common-about-container {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .show-less-more-text { 
        display: none;
    }
    .show-less-more-text-none { 
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        font-family: 'Manrope', sans-serif;
        color: #161616;
        background: transparent;
        border: none;
        text-align: left;
        padding: 0px 12px;
    }
    .resp-hide-text { 
        display: block;
    }
}

@media screen and (max-width:500px) { 
    .super-block-content { 
        padding: 30px;
    }
    .o-company-text { 
        font-size: 18px;
        line-height: 23px;
    }
    .sub-text-heading {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        color: #111111;
        font-family: 'Rubik', sans-serif;
    }
    .about-us-text {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-top: 20px !important;
    }
    .show-less-more-text-none {
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        font-family: 'Manrope', sans-serif;
        color: #161616;
        background: transparent;
        border: none;
        text-align: left;
        padding: 0px 12px;
    }
    .hidden-us-text {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
    .logistic-img {
        width: auto !important;
        height: 200px !important;
    }
}