@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* font-family: 'Rubik', sans-serif;
font-family: 'Manrope', sans-serif; */
.offices-block-area { 
    margin-top: 12%;
}
.content-area-of-offices { 
    gap: 20px !important;
}
.our-offices-text { 
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #0063A4;
}
.head-text-of-offices { 
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Rubik', sans-serif;
    color: #161616;
}
.head-text-of-offices span { 
    color: #0063A4 !important;
}
.sub-text-offices { 
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    font-family: 'Manrope', sans-serif;
}
iframe { 
    border-radius: 20px !important;
    width: 100%;
    height: 600px;
}
@media screen and (max-width:500px) { 
    .offices-block-area { 
        margin-top: 100px !important;
    }
    .our-offices-text {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.24px;
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
        color: #0063A4;
    }
    .head-text-of-offices {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        font-family: 'Rubik', sans-serif;
        color: #161616;
    }
    .sub-text-offices {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        font-family: 'Manrope', sans-serif;
    }
    iframe { 
        border-radius: 6px !important;
        width: 100%;
        height: 200px;
    }
}

.iframe-container { 
    margin-top: 40px !important;
}