@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.navbar-toggler { 
  border: none !important;
}
.navbar-collapse { 
  display: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none !important;
  box-shadow: none !important;
}
.link-navbar-top {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: #161616 !important;
}
.content-of-navbar {
  padding: 20px 70px 20px 70px !important;
  box-shadow: 0px 0px 3px 0px #00000038;
}
.connect-button-navbar {
  width: 141px;
  height: 46px;
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 400;
  border-radius: 30px;
  padding: 10px 26px;
  border: 2px solid #0063a4 !important;
  color: #0063a4 !important;
  background-color: transparent;
  transition: 0.4 ease-in-out;
}
.connect-button-navbar:hover {
  background: #0063a4 !important;
  transition: 0.4 ease-in-out;
  color: #ffffff !important;
}
a {
  color: #161616 !important;
  text-decoration: none !important;
}

/* media query */
@media screen and (min-width: 1200px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: none !important;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}
.navbar-toggler { 
  border: 1px solid #fff !important;
}
  .content-of-navbar {
    padding: 10px 50px 10px 50px !important;
    box-shadow: 0px 0px 3px 0px #00000038;
  }
}
@media screen and (max-width: 769px) {
  .content-of-navbar {
    padding: 0px !important;
    box-shadow: 0px 0px 3px 0px #00000038;
  }
}
@media screen and (max-width:550px) { 

  .App {
    padding-top: 25px !important;
  }
  .content-of-navbar { 
    position: fixed !important;
    position: sticky !important;
    top: 0;
    background-color: #FFF;
    z-index: 100000 !important; /* Adjust this value as needed */
    /* ... (other styles you already have) */
    border-radius: 20px;
    margin: 0px 16px;
    padding: 5px 10px !important;
    border: none !important;
    box-shadow: 0px 2px 8px 0px #0000001F;
  }
}

@media (min-width: 1200px) {
.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0 !important; 
     padding-left: 0 !important; 
     align-items: center !important;
     justify-self: center !important ;
}

.navbar-expand-xl .navbar-nav {
    flex-direction: row;
    gap: 34px !important;

}
}


/* off canvas */
.offcanvas-menu {
  display: none;
  position: absolute;
  /* position: sticky; */
  top: -25px;
  right: -105%;
  width: 105%;
  height: 830px;
  /* transform: translateX(100%); */
  background-color: #0063a4;
  /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2); */
  overflow-x: auto !important;
  transition: right 0.3s ease-in-out;
}

.offcanvas-menu.active {
  overflow: hidden;
  /* position: fixed !important; */
  right: -18px;
  z-index: 1;
  display: block;
  /* top: 0; */
}

.offcanvas-content {
  padding: 30.879px 39.857px 46.322px 94px;
}


  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: rgba(217, 217, 217, 1);
    padding: 8.879px 24.857px 1.322px 4px !important;
}


.close-button:focus {
  outline: none;
}
#mobile-off-canvas-links { 
  color: #fff !important;
  align-items: end;
  gap: 30px;
  margin-top: 50px;
}
#mobile-off-canvas-links a { 
  color: #fff !important;
  font-weight: 300;
  line-height: normal;
}

/* Add your other styles as needed */


/* Add your other styles as needed */

.text-of-clock { 
  color: #FFF;
text-align: center;
font-family: "Rubik", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 133.333% */
}
.bottom-side-of-canvas { 
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.links-for-social-media-bg-offcanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #FFF !important;
  border-radius: 50%;
}
.block-for-socials-bg-offcanvas { 
  display: flex;
  gap: 22px;
}

/* stay on top */
.content-of-navbar {
  position: fixed !important;
  position: sticky !important;
  top: 0;
  background-color: #FFF;
  z-index: 100 !important; /* Adjust this value as needed */
  /* ... (other styles you already have) */
}