@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* font-family: 'Rubik', sans-serif;
font-family: 'Manrope', sans-serif; */

.our-partners-head-text { 
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    color: #0063A4;
}
.entering-sub-text { 
    font-weight: 400;
    font-size: 60PX;
    line-height: 70px;
    color: #161616;
}
.blue-taklog-text { 
    color: #0063A4;
}
.content-area-partners { 
    margin-top: 19%;
}
.block-area-of-logos { 
    margin-top: 50px !important;
    display: flex !important;
    flex-direction: row;
    gap: 100px;
}
.block-area-of-logos-mobile-version { 
    display: none !important;
}
.block-area-of-logos img { 
    width: 100%;
    max-width: fit-content;
}
.block-area-of-logos-mobile-version img { 
    width: 100%;
    max-width: fit-content;
}
@media screen and (max-width:500px) { 
    .content-area-partners {
        margin-top: 100px !important;
    }
    .block-area-of-logos-mobile-version { 
        display: flex !important;
        gap: 50px !important;
        padding: 10px !important;
    }
    #sliders-of-logos { 
        margin: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #partners { 
        padding: 15px;
    }
    .our-partners-head-text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.24px;
        color: #0063A4;
    }
    .entering-sub-text {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        color: #161616;
    }
}
@media screen and (max-width:769px) { 
    .block-area-of-logos { 
        margin-top: 50px !important;
        display: flex !important;
        flex-direction: row;
        gap: 100px;
        display: none !important;
    }
    .block-area-of-logos-mobile-version { 
        display: flex !important;
        gap: 40px;
    }
    .block-area-of-logos-mobile-version img  { 
        width: 175px !important;
    }
}